@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        @apply text-raisin-black bg-ghost-white font-inter;
        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    body {
        @apply m-0 min-w-[320px] min-h-[100vh];
    }

    #app {
        @apply flex flex-col items-center justify-between min-h-[100vh] text-base;
    }

    a {
        @apply hover:underline hover:underline-offset-2 hover:font-medium;
    }

    h1 {
        @apply text-3xl py-2;
    }

    h2 {
        @apply text-2xl py-2;
    }

    h3 {
        @apply text-xl py-2;
    }

    hr {
        @apply my-8
    }

    /*FOCUS EFFECTS*/
    /*outline effect on interaction elements*/
    input[type=text]:focus, input[type=checkbox], input[type=color]:focus, a:focus, button[type=button]:focus {
        @apply outline-2 outline-offset-2 outline-medium-slate-blue;
    }

    /*INPUTS*/
    /*inputs base state*/
    input[type=text] {
        appearance: none !important;
        -moz-appearance: none !important;
        -webkit-appearance: none !important;
        @apply border bg-white m-2 px-2 rounded-lg h-12;
    }
    input[type=checkbox] {
        appearance: none !important;
        -moz-appearance: none !important;
        -webkit-appearance: none !important;
        @apply border w-6 h-6 bg-white rounded-md;
    }
    input[type=color] {
        appearance: none !important;
        -moz-appearance: none !important;
        -webkit-appearance: none !important; 
        @apply bg-transparent rounded-lg p-0 m-0 w-1/3 h-12;
    }
    input[type=color]::-webkit-color-swatch {
        appearance: none !important;
        -webkit-appearance: none !important;
        @apply border rounded-lg w-full h-full;
    }
    input[type=color]::-moz-color-swatch {
        appearance: none !important;
        -moz-appearance: none !important;
        @apply border rounded-lg w-full h-full;
    }

    /*inputs hover*/
    input[type=text]:hover {
        @apply outline outline-medium-slate-blue;
    }

    /*inputs checked*/
    input[type=checkbox]:checked {
        @apply flex justify-center items-center bg-green;
    }
    input[type=checkbox]:checked::after {
        content: "\2713";
        @apply text-white;
    }

    /*BUTTONS*/
    button[type=button] {
        appearance: none !important;
        -moz-appearance: none !important;
        -webkit-appearance: none !important;
        @apply bg-medium-slate-blue text-white self-center p-2 rounded-md flex justify-center items-center
    }
    button[type=button]:hover {
        @apply drop-shadow-lg
    }
    button[type=button]:active {
        box-shadow: inset 0px 1px 2em -1em black;
        @apply drop-shadow-none
    }

    /*LABELS*/
    label.extend-label {
        @apply flex flex-row gap-2 p-2 rounded-md bg-medium-slate-blue text-white cursor-pointer select-none;
    }
    label.extend-label:hover {
        @apply drop-shadow-lg
    }
}
