@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        @apply text-raisin-black bg-ghost-white font-inter;
        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    body {
        @apply m-0 min-w-[320px] min-h-[100vh];
    }

    #app {
        @apply flex flex-col items-center justify-between min-h-[100vh] text-base;
    }

    a {
        @apply hover:underline hover:underline-offset-2 hover:font-medium;
    }

    h1 {
        @apply text-3xl;
    }

    h2 {
        @apply text-2xl;
    }

    h3 {
        @apply text-xl;
    }

    .logo {
        height: 10em;
        padding: 1.5em;
        will-change: filter;
        transition: filter 300ms;
    }
    .logo:hover {
        filter: drop-shadow(0 0 2em #646cffaa);
    }
    .logo.svelte:hover {
        filter: drop-shadow(0 0 2em #ff3e00aa);
    }
}
