@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        @apply text-raisin-black bg-ghost-white font-inter;
        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    body {
        @apply m-0 min-w-[320px] min-h-[100vh];
    }

    #app {
        @apply flex flex-col items-center justify-between min-h-[100vh] text-base;
    }

    a {
        @apply hover:underline hover:underline-offset-2 hover:font-medium;
    }

    h1 {
        @apply text-3xl py-2;
    }

    h2 {
        @apply text-2xl py-2;
    }

    h3 {
        @apply text-xl py-2;
    }

    input[type=text] {
        appearance: none !important;
        @apply  bg-white m-2 p-2 rounded-lg;
    }
    input[type=text]:hover {
        @apply outline outline-medium-slate-blue;
    }
    input[type=text]:focus {
        @apply outline-2 outline-medium-slate-blue;
    }
}
